header {
    background-color: #8b2e2e;
    color: white;
    padding: 30px;
    text-align: center;
}

body {
    background-color: #ebdccb;
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
}

h1 {
    color: #333;
    font-size: 50px;
    text-align: center;
    word-wrap: break-word;  /* Allow wrapping of long text */
}

p {
    color: #555;
    text-align: center;
}

footer {
    background-color: #8b2e2e;
    color: white;  /* Changed to white for better contrast */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
